{% extends "layout.html" %} {% block title %}Cart{% endblock %}
{% from "_price_with_diff.html" import price_with_diff %}

<!-- content -->
{% block content %}
<div class="container-fluid medium">
  <div class="h2 text-center mt-3 mb-4">Cart</div>
  {% if rows and rows|length > 0 %}
  <form method="POST" class="text-end my-3" action="{{url_for('cart.clear')}}">
    {% if can_refresh %}
    <a href="{{url_for('cart.refresh', is_cart=1)}}" class="btn btn-primary">Refresh cart</a>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Clear cart" />
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set ns = namespace(cart_total=0, actual_total=0) %} {% for row in rows %}
      <tr class="vertical-align-middle">
        <td class="d-flex align-items-center">
          <div class="cart-image">
            {% if row.image %}
            <img src="{{row.image}}" alt="{{row.name}}" />
            {% else %}
            <img src="/static/images/no-image.jpg" alt="no image available" />
            {% endif %}
          </div>
          <h5 class="ms-3">{{row.name}}</h5>
        </td>
        <td>
          {{ price_with_diff(row.cart_cost, row.product_cost) }}
        </td>
        <td style="width: 15rem">
          <form method="POST" action="{{url_for('cart.update')}}">
            <div class="row">
              <input type="hidden" name="product_id" value="{{row.product_id}}" />
              <div class="col">
                <input type="number" class="form-control" name="quantity" value="{{row.quantity}}" />
              </div>
              <div class="col d-grid">
                <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
              </div>
            </div>
          </form>
        </td>
        <td>
          {{ price_with_diff(row.cart_subtotal, row.actual_subtotal) }}
        </td>
        <td>
          <form method="POST" action="{{url_for('cart.delete')}}">
            <input type="hidden" name="product_id" value="{{row.product_id}}" />
            <input type="hidden" name="name" value="{{row.name}}" />
            <input type="hidden" name="quantity" value="-1" />
            <a href="{{url_for('shop.view', id=row.product_id)}}" class="btn btn-primary btn-sm">View</a>
            <input type="submit" value="x" class="btn btn-danger btn-sm" />
          </form>
        </td>
        {% set ns.cart_total = ns.cart_total + row.cart_subtotal %}
        {% set ns.actual_total = ns.actual_total + row.actual_subtotal %}
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td colspan="2" class="text-end fw-bold">Total: </td>
        <td colspan="2">
          {{ price_with_diff(ns.cart_total, ns.actual_total) }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a href="{{url_for('orders.view')}}" class="btn btn-primary">Checkout</a>
  </div>
  {% else %}
  <div class="text-center" colspan="100%">
    <h5 class="mt-5">
      No items in cart
      <br />
      <br />
      <a href="{{url_for('shop.view_all')}}" class="btn btn-primary">View products</a>
    </h5>
  </div>
  {% endif %}
</div>
{% endblock %}