{% extends "layout.html" %}
{% block title %}
{% if not is_edit %}
Add Category
{% else %}
Edit Category
{% endif %}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid small">
  <div class="h1 text-center my-4">
    {% if not is_edit %}
    Add Product
    {% else %}
    Edit Product
    {% endif %}
  </div>
  <div>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}