{% extends "layout.html" %}
{% block title %}
{% if not is_edit %}
Add Product
{% else %}
Edit Product
{% endif %}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid edit-product">
  <div class="h1 text-center my-4">
    {% if not is_edit %}
    Add Product
    {% else %}
    Edit Product
    {% endif %}
  </div>
  <div>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.description) }}
      {{ render_field(form.stock) }}
      {{ form.cost.label(class="form-label") }}
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        {{ form.cost(class="form-control")|safe }}
      </div>
      {{ render_field(form.image) }}
      {{ render_field(form.is_visible) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}