{% extends "layout.html" %}
{% block title %}
{% if not is_edit %}
Add Product
{% else %}
Edit Product
{% endif %}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
  <div class="h1">
    {% if not is_edit %}
    Add Product
    {% else %}
    Edit Product
    {% endif %}
  </div>
  <div>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.description) }}
      {{ render_field(form.stock) }}
      {{ render_field(form.cost) }}
      {{ render_field(form.image) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}